.divider{
    width: 100%;
    padding-left: 15px;
    padding-right: -15px;

    border-color: rgb(47, 51, 54);
}
.card{
    margin-bottom: 14px;
    background-color: black;
    color: white;
   
}
.dividerPadding{
    padding: 15px;
}
.content{
    border: 1px solid rgb(47, 51, 54);
    padding: 0 !important;
}

.subheader{
    color: white;
}
.text{
    color: white;
}