$mobile: 576px;
$tablet: 992px;

.card{
    width: 700px;
    margin-bottom: 20px;
    background-color: #ddd;

    @media (max-width: $tablet) {
        width: 500px;
    }

    @media (max-width: $mobile) {
        width: 100%;
    }
}
.imageWrapper{
    padding: 10px;
    height: auto;
}
.postImage{
    border: 1px solid rgb(47, 51, 54);
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.hashtag{
    color: #00BFFF;
}