
.container{
    margin-top: 15px;
    display: flex;
    padding: 15px;
}
.replyContent{
    width: 100%;
    padding-right: 10px;
}
.replyLabel{
    color: grey;

}
.replyInput{
  
   color: white;
}