.formControl {
    width: 100%;
    padding: 10px;
}

.layoutInput {
    color: white;
    border-color: red;
}
.layoutLabel {
    // color: rgb(41, 41, 190);
    color: white;
}

.inputName {
    @extend .layoutInput;
}

.labelName {
    @extend .layoutLabel;
}

.labelLastName {
    @extend .layoutLabel;
}

.inputLastName {
    @extend .layoutInput;
}

.labelEmail {
    @extend .layoutLabel;
}
.inputEmail {
    @extend .layoutInput;
}

.inputBio {
    @extend .layoutInput;
}

.labelBio {
    @extend .layoutLabel;
}

.labelAge {
    @extend .layoutLabel;
}
.inputAge {
    @extend .layoutInput;
}

.labelPassword {
    @extend .layoutLabel;
}
.inputPassword {
    @extend .layoutInput;
}

.labelNickname {
    color: rgb(41, 41, 190) !important;
}
.inputNickname {
    color: white !important;
    cursor: not-allowed;
}
.flex {
    display: flex;
    
    @media (max-width: 690px) {
        flex-direction: column;
    }
}

.flexSpace{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex1 {
    flex: 1;
}

.flex3 {
    flex: 3;
}

.gap10 {
    gap: 10px;
}

.mt10 {
    margin-top: 10px;
}

.contentData {
    flex: 3;
}

.contentImage {
    flex: 1;
}

.textArea {
    font-family: IBM Plex Sans, sans-serif;
    font-size: 17px;
    padding: 4px;
    height: 100px !important;
    width: 475px !important;
    background-color: black;
    border-radius: 5px;
    border: 1px solid rgb(41, 41, 190) !important;

    &:hover {
        border: 1px solid #B2BAC2 !important;
    }

    @media screen and (max-width: 690px) {
        width: 100% !important;
    }
}
.pl10{
    padding-left: 10px;
}
.centrar{
    display:flex;
    align-items: center;
    align-self: center;
    justify-content: center;

    @media (max-width: 690px) {
        align-items: unset;
        align-self: unset;
        justify-content: unset;
    }
}
.nickNameContent{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
