.toolbar{
    background-color: #063970;
    position: sticky;
    top: 0;
    overflow: visible !important;
}


.divProfile{
    display: flex;
    margin-left: auto;
}

.title{
    font-size: 1.5rem;
    padding-left: 5%;
}

.btnLogin{
    margin-left: auto;
}

.btnSignup{
    margin-left: 10px;
}
