
.btn{
    margin-top: 10px;
}
.formControl {
    color: white ;
    padding: 5px;
}

.input {
    color: white;
    padding: 10px;
}
.register{
    margin-top: 10px;
}
.link{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover{
        color: #0056b3;
        text-decoration: underline;
    }
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #1c1c1c;
    border: 2px solid white;
    border-radius: 10px;
    width: 500px;
    height: auto;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
}


