.formContent{
  display: flex;
  flex-direction: column;
}

.file-input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.file-label {
    cursor: pointer;
    /* Estilos adicionales para el label */
}

.inputCustom {
    color: white;
}

.inputLabel {
    color: gray;
}

.divider{
    width: 100%;
    padding: 15px;
    border-color: rgb(47, 51, 54);
}

.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}
.flex2{
    flex: 2;
}

.flex3 {
    flex: 3;
}

.gap10 {
    gap: 10px;
}

.mt10 {
    margin-top: 10px;
}

.contentData {
    flex: 1;
}

.contentImage {
    flex: 1;
}
.flexSpace{
    display: flex;
}

